<%= stylesheet_link_tag 'admin/toggle_button' %>
<%= stylesheet_link_tag 'users' %>

<h1>Edit Profile</h1>
<%= simple_form_for(@user, remote: true) do |f| %>
  <div class="row">
      <div class="col-4"><span>
        <%= f.input :username %>
        <%= f.input :name %>
        <%= f.input :bio, input_html: { cols: 5, rows: 8} %>
        </span></div>
      <div class="col-4"><span>
        <%= f.input :website %>
        <%= f.input :email %>
        <%= f.input :phone %>
        <%= f.input :gender %>
      </span></div>
      <div class="col-3"><span>
        <%= f.input :number %>
        <%= f.input :discount_price %>

        <fieldset class="form-group boolean optional user_discount form-group-valid">
          <label class="switch">
            <input name="user[discount]" type="hidden" value="0">
            <input class="form-check-input is-valid boolean optional" type="checkbox" value="1" checked="checked" name="user[discount]" id="user_discount">
            <span class="slider round"></span>
          </label>
          <p><small>Discount</small></p>
        </fieldset>

        <%= f.button :submit, class: 'btn btn-primary' %>
      </span></div>
      <div class="col-1"><span></span></div>
    </div>
  </div>
<% end %>
