<!DOCTYPE html>
<html>
  <head>
    <title>EzliteShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="row">
      <div class="col-md-2">
        <div class="card">
          <article class="card-group-item">
            <header class="card-header"><h6 class="title">Page </h6></header>
            <div class="filter-content">
              <div class="list-group list-group-flush">
                <a href="<%= edit_user_path(current_user) %>" class="list-group-item">Edit Profile</a>
                <a href="<%= user_path(current_user) %>" class="list-group-item">Profile</a>
                <a href="<%= admin_products_path %>" class="list-group-item">PMS</a>
                <a href="<%= edit_admin_order_discount_path(current_user) %>" class="list-group-item">ODS</a>
              </div>  <!-- list-group .// -->
            </div>
          </article> <!-- card-group-item.// -->
        </div> <!-- card.// -->
      </div>
      <div class="col-md-10">
        <%#= render "layouts/flash" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>